.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.input-full-width {
    width: 100%;
}

.input-label {
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--text-secondary);
}

.input-field {
    flex: none;
    height: 3.5rem;
    /* 56px */
    padding: 0 var(--spacing-3);
    font-family: var(--font-sans);
    font-size: var(--text-sm);
    color: var(--text-primary);
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);
    transition: all var(--transition-fast);
    outline: none;
}

.input-field::placeholder {
    color: var(--text-tertiary);
}

.input-field:hover:not(:disabled) {
    border-color: var(--border-color-hover);
}

.input-field:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
}

.input-field:disabled {
    background-color: var(--bg-color);
    color: var(--text-tertiary);
    cursor: not-allowed;
}

.input-field.input-error {
    border-color: var(--error-color);
}

.input-field.input-error:focus {
    box-shadow: 0 0 0 1px var(--error-color);
}

.input-error-message {
    font-size: var(--text-xs);
    color: var(--error-color);
}